@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
}

.frontPage{
    display: flex;
    justify-content: space-around;
}

.frontPage .title{
    margin: 20%;
}

.frontPage h2{
    margin: 20px;
    text-align: center;
}