@import url('https://fonts.googleapis.com/css?family=Montserrat:100,500');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat" , sans-serif;
}
.text-white{
    font-family: "Montserrat" , sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: aliceblue;
    margin: 0 20px;
}
.mb-10{
    margin-top:10px;
}

.frontPage{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right top, 
    rgba(8,33,71,0.5), rgba(38,45,75,0.5), rgba(57,58,79,0.5), rgba(73,72,83,0.5), rgba(87,87,87,0.5)),
    url('https://res.cloudinary.com/dvdqlvy48/image/upload/v1575099976/laptop-2557574_1920.jpg') no-repeat center center fixed;
    -webkit-background-size:  cover;
    -moz-background-size:  cover;
    -o-background-size:  cover;
    background-size:  cover;

}
.frontPage h2{
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    margin: auto;
}
.frontPage p{
    text-align: center;
}
.section{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1.5em 0;
    position: inherit;
}

.section h2{
    margin:  20px 0;
    text-align: center;
}
.section img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;

}
.frontPage2{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    background: linear-gradient(to right top, 
    rgba(8,33,71,0.5), rgba(38,45,75,0.5), rgba(57,58,79,0.5), rgba(73,72,83,0.5), rgba(87,87,87,0.5)),
    url('https://res.cloudinary.com/dvdqlvy48/image/upload/v1541483758/man-1246233_1920.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
.wrapper{
    display: flex;
}
.wrapper > div{
    flex: 1;
    margin: 1em;
    padding: .4em;
    flex-direction: row;
}
input[type=text], input[type=email], textarea{
    font-family: "Montserrat" , sans-serif;
    width: 100%;
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
    background-color: #2c3e50;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: lightcyan;
    outline: none;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus{
    border: 3px solid #fff;
}

.ct-style > form > label{
    font-weight: bold;
    font-size: 16px;
}
.ct-style input[type=submit]{
    color: lightcyan;
    background-color: #2c3e50;
    font-size: 16px;
    padding: 8px 16px;
    outline: none;
    border: 1px solid lightcyan;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}
.ct-style input[type=submit]:hover{
 background-color: lightcyan;

 color: #2c3e50;
}
.ct-style input[type=submit]:after{
    background: #2c3e50;
    background-position: 200px;
    color: lightcyan;
    transition: all 0.8s ;
}
.ct-style input[type=submit]:active:after{
    opacity: 1;
    transition: 0s
}
.social{
    display: flex;
    justify-content: flex-start;
}
.social > i.fa{
    font-size: 1.9em;
    margin-right: 20px;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position:relative;
    background: -webkit-linear-gradient(to right, #2c3e50, #24252a);
    background: linear-gradient(to right, #2c3e50, #24252a);
}




@media screen and (max-width: 768px){
    .frontPage{
        height: 92vh;
    }
     .frontPage2, .section{
        height:auto;
    }
    .frontPage .title{
        margin: 2.5em 0;
        font-size: 28px;
    }
    .section{
        margin: 2.5em 0;
    }
    .section h2{
        margin: 1em 0;
    }
    .wrapper{
        flex-direction: column;
    }
}



