@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;

}

.frontPage{
    top: 8vh;
    height: 92vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: blueviolet;
}

.frontPage, .title{
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: aliceblue;
}

.frontPage h2{
    margin: 20px;
    text-align: center;
}
.frontPage p{
    margin: 20px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .frontPage{
        margin: 10px;
    }
}
